
.nav { 
    padding-right: 100px;
    justify-content: end;
}

.nav-item {
color: rgb(61, 60, 60);

}

.header { 
    background-color: #b7ab9f;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5px;
    
    


}
body{
    
    color:rgb(29, 28, 28);
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
    }

    .header h1 { 
        margin: 0;
    }

    .perfil {
        display: flex;
        text-decoration:none;
    }
    .card-body h5{ 
        text-decoration: none;
        box-shadow: none;
    }

    .titulo_perfil { 
        text-decoration: none;
    }
.btn { 
    background-color: #ffffff;
    color:rgb(29, 28, 28);
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.titulo_perfil{
    margin: 20px;
    padding-left: 200px;
}

.perfil{
    display: flex;
    margin: 20px;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    

}

.perfil img { 
    border-radius: 2%; 
    background-position: 50%; 
    size: cover;
}

.servicios{
    text-align: center;
}
.box {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}